@tailwind base;
@tailwind utilities;
@tailwind components;
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Julius+Sans+One&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.julius{
font-family: 'Julius Sans One', sans-serif;
}
.inter{
    font-family: 'Inter', sans-serif;
}
.lato{
  font-family: 'Lato', sans-serif;
}

.staatliches{
  font-family: 'Staatliches', cursive;
}
.poppins{
  font-family: 'Poppins', sans-serif;
}

 
 



